<section class="hero">
    <div class="container">
        <h1>
            <%= pageTitle %>
        </h1>
    </div>
</section>

<section class="container">
    <div class="static-content-card">
        <%- content %>
    </div>
</section>